.statusnominal {
    background-image: url("../img/state0.gif");
}
.statusrunning { 
    background-image: url("../img/state2.gif");
}
.statuserror { 
    background-image: url("../img/state3.gif");
}

.update {
    background-color: white;
    transition: background-color 0.5s linear; 
   -moz-transition: background-color 0.5s linear;  
   -webkit-transition: background-color 0.5s linear; 
   -ms-transition: background-color 0.5s linear;
}
.fadeUpdate {
    background-color: #FFFFCC; 
}
