<!DOCTYPE html>
<html ng-app="geotweet_me" lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Geospatial Analysis of Tweets">
        <meta name="author" content="Jack Dwyer">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-responsive.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/flat-ui.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/classic-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-fileupload.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!--        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>  
-->
        <style>
            body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" /> -->

        <!-- JS stuff -->
<!--        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script> -->
<!--        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/angular.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-1.10.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap-fileupload.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-ui-1.10.3.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jQDateRangeSlider-withRuler-min.js') }}"></script>
        <script type="text/javascript">
        {#
            Angular uses same {{ }} for tempating as the jinja2 (serverside) as such we 
            will just set angular to use [< >] instead
        #}
            angular.module('geotweet_me', []).config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('[<');
                $interpolateProvider.endSymbol('>]');
            });
        </script>

            <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script> -->


        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="{{ url_for('static', filename='js/vendor/html5shiv.js') }}</script>
        <![endif]-->

    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a></p>
        <![endif]-->
        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="container">
            {% block base_content %}

            {% endblock %}
            <div class="navbar-fixed">
                <br>
                <div class="container">
                    <footer>
                        <p><a href="#">Jack Dwyer</a></p>
                    </footer>
                </div>
            </div>

        </div>

    </body>
</html>

