{% extends 'tmpl.html' %}
{% set active_page = "search" %}
{% block content %}
        <div class="container pagination-centered" >
            <div class="row">
                <div class="span6">
                    <form class="form-search" method="GET" action="/" id="search">
                        <h1>Search</h1>
                        <input type="text" name="q" class="input-medium search-query">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                    <p>All Searches performed in lower case</p>
                </div>
                <div class="span6">
                    <h1>Import</h1>
                        <form method="POST" enctype="multipart/form-data" action="/" id="import">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <span class="btn btn-file">
                                    <span class="fileupload-new">Select file</span>
                                    <span class="fileupload-exists">Change</span>
                                    <input type="file" name="file" />
                                </span>
                                <span class="fileupload-preview"></span>
                                &nbsp;
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </div>
                        </form>
                    <p>Only TwapperKeeper import currently supported</p>
                </div>
            </div>
        </div>
        <br>
        <h3>Searches</h3>
        <script type="text/javascript" src="{{ url_for('static', filename='js/controllers/prevSearchCntl.js') }}"></script>
        <div class="container" ng-controller="prevSearchCntl">
            <table class="table">
                <thead>
                    <tr>    
                        <th ng-repeat="header in headers">
                            <a ng-click="toggleSort(header)"><h4>[< header >]</h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="val in searches | orderBy:order:reverse">
                        <td ng-class="val.tweet_css" class="update" ng-repeat="key in headers">[< val[key] >]</td>
                        <td><a href="/api/search/[< val['_id'].$oid >]/json"><button class="btn-small btn-primary">Download JSON</button></a></td>
                        <td><a href="/api/search/[< val['_id'].$oid >]/delete"><button class="btn-small btn-danger">Delete</button></a></td>

                        </span>
                        <td><a href="/search/[< val['_id'].$oid >]/view"><button class="btn-small btn-primary">View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}
