{% extends 'tmpl.html' %}
{% set active_page = "live" %}
{% block content %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/MarkerCluster.Default.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/MarkerCluster.css') }}"> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/controllers/statusCntl.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/vendor/leaflet.markercluster-src.js') }}"></script>

    <script>
        function mapCntl($scope, $http)  {
            //not the best
            $scope.search_id = location.pathname.split("/")[2];

            function setSlider(start, end) {
                console.log(new Date(start));
                console.log(new Date(end));
                $("#dateSlider").dateRangeSlider({
                    bounds: {
                        min: new Date(start),
                        max: new Date(end)
                    },
                    defaultValues: {
                        min: new Date(start),
                        max: new Date(end)
                    },
                    step: {
                        minutes: 1,
                    }
                });

                $("#dateSlider").on("valuesChanged", function(e, data){
                    start = moment(data.values.min).format('X');
                    end = moment(data.values.max).format('X');
                    console.log(start);
                    console.log(end);
                    $http.get('/api/search/' + $scope.search_id + '/date/' + start + '/' + end).success(
                        function(data) {
                        console.log("loadede");
                        $scope.tweets = data.results;
                        console.log(data.results);
                    });    
                });  
            }

            var cluster = new L.MarkerClusterGroup();
            var markers = new L.layerGroup();

            var map = L.map('map').setView([0, 0], 2);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

            $scope.createMarkers = function(lat, lng, text) {
                var marker = L.marker(new L.LatLng(lat, lng));
                marker.on('click', function() {
                    $("#tweet_text").text(text);
                });
                return marker;
            }   
    
            function drawMarkers() {
                cluster.clearLayers();
                markers.clearLayers();
                if ($scope.tweets.length > 1000) {
                    for (var i = 0; i < $scope.tweets.length; i++) {
                        cluster.addLayer($scope.createMarkers($scope.tweets[i].geo.coordinates[0], $scope.tweets[i].geo.coordinates[1], $scope.tweets[i].text));
                    }
                map.addLayer(cluster);
                } else {
                    for (var i = 0; i < $scope.tweets.length; i++) {
                        markers.addLayer($scope.createMarkers($scope.tweets[i].geo.coordinates[0], $scope.tweets[i].geo.coordinates[1], $scope.tweets[i].text));
                    }
                map.addLayer(markers);
                }
            }
                    
            $http.get('/api/search/' + $scope.search_id).success(
                function(data) {
                    console.log(data);
                    $scope.tweets = data.results;
                    $scope.terms = data.terms[0]

                    setSlider($scope.tweets[0].created_at["$date"], $scope.tweets[$scope.tweets.length - 1].created_at["$date"]);

                    drawMarkers();
                }).error(
                function(data) {
                    console.log("Failed getting search tweets");
                    console.log(data);
            });
            


            $scope.$watch('tweets', function(newdata, olddata) {
                if (newdata && olddata) {
                   drawMarkers();
                }
            });
        }
    </script>
    <div class="container" ng-controller="mapCntl">
        <div class="container pagination-centered">
            <h2>Terms:</h2>
	        <h1>[< terms >]</h1>
	    </div>
        <div id="map" class="map" style="width: 100%; height: 500px"></div>
        <div class="container pagination-centered">
            <h2 id="tweet_text"></h2>
        </div>
        <br>
        <div class="pagination-centered">Select Date:</div>
        <div id="dateSlider"></div>
    </div>
    {% endblock %}
